/*=================== Index page ====================*/
header {
  position: fixed;
  width: 100%;
  height: auto;
  background-image: repeating-linear-gradient(black, red);
}

nav {
  background-color: black;
}

.name {
  color: white;
  text-align: center;
  font-size: 40px;
}

.loginName {
  color: white;
  margin: 20px;
}

.pageHead {
  color: white;
  text-align: center;
  font-size: 30px;
  width: 100%;
}

img {
  height: 200px;
  width: 225px;
  border-radius: 40px;
}

.container {
  border: 1px solid black;
  background-image: url("images/red.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

::placeholder{
  color: rgba(255, 100, 0, .6);
}
/*=================== mainIndex Page ================*/
.allGameCard {
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
  text-align: center;
}

.gameCard {
  border: 3px solid rgba(100, 40, 255, .5);
  height: 300px;
  width: 300px;
  margin: 10px;
  margin-left: 50px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), purple);
  border-radius: 20px;
}

.gameCard:hover {
  border: 3px solid red;
  background-image: radial-gradient(rgba(0, 0, 0, .3), rgba(255, 0, 0, .5), rgba(0, 0, 0, .8), rgba(255, 0, 0, 1));
  background-size: cover;
}

li {
  margin-top: 10px;
  color: white;
  list-style: none;
}

footer {
  text-align: right;
  margin-right: 50px;
}

.modalContainer {
  position: fixed;
  border: 3px solid white;
  margin: 0 525px;
  width: 600px;
  height: 600px;
  background: rgba(0, 0, 0, .9);
  border-radius: 40px;
}

.showModal {
  color: white;
  margin: 40px auto;
  padding-top: 50px;
  width: 500px;
  height: 500px;
  background-image: radial-gradient(red, rgba(0, 0, 0, .8));
  border-radius: 40px;
}

.modalImage {
  border-top: 3px groove red;
  border-bottom: 3px groove black;
  border-left: 3px groove red;
  border-right: 3px groove black;
  height: 200px;
  width: 275px;
  border-radius: 40px;
}

.description {
  font-size: 15px;
  margin: 20px;
  text-align: center;
}
/*=================== Login Page =================== */
.login {
  display:flex;
  flex-wrap: wrap;
  margin-top: 100px;
  background-image: url("images/loginBackground.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.loginFormBox {
  height: 725px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
  text-align: right;
}

.loginForm {
  width: 100%;
  height: 100px;
  margin: auto;
}

.loginInput {
  font-size: 30px;
  text-align: center;
  margin-right: 680px;
  margin-top: 10px;
  height: 40px;
  width: auto;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  outline-style: none;
  border-style: none;
  border: 1px solid red;
}

.loginSubmit {
  background-color: red;
  color: white;
  font-size: 30px;
  margin-right: 780px;
  margin-top: 10px;
  height: 50px;
  width: auto;
  border-radius: 10px;
  outline-style: none;
}
/*================== Register page ================= */
.register {
  display:flex;
  flex-wrap: wrap;
  margin-top: 100px;
  background-image: url("images/red.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.registerFormBox {
  height: 725px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
  text-align: right;
}


.registerForm {
  width: 100%;
  height: 100px;
  margin: auto;
}

.registerInput {

  font-size: 30px;
  text-align: center;
  margin-right: 680px;
  margin-top: 10px;
  height: 40px;
  width: auto;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  outline-style: none;
  border-style: none;
  border: 1px solid red;
}

.registerSubmit {
  background-color: red;
  color: white;
  font-size: 30px;
  margin-right: 780px;
  margin-top: 10px;
  height: 50px;
  width: auto;
  border-radius: 10px;
  outline-style: none;
}
/*=================== User Index =================== */
.userIndex {
  display:flex;
  flex-wrap: wrap;
  margin-top: 100px;
  background-image: url("images/loginBackground.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.allUserGameCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  text-align: center;
}

.userGameCard {
  border: 3px solid rgba(100, 40, 255, .5);
  height: 300px;
  width: 300px;
  margin: 10px;
  margin-left: 50px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), purple);
  border-radius: 20px;
}

.userPageHead {
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 30px;
  width: 100%;
}

.userGameCard:hover {
  border: 3px solid red;
  background-image: radial-gradient(rgba(0, 0, 0, .3), rgba(255, 0, 0, .5), rgba(0, 0, 0, .8), rgba(255, 0, 0, 1));
  background-size: cover;
}

.modalUserContainer {
  position: fixed;
  border: 3px solid white;
  margin: 10px 525px;
  width: 600px;
  height: 600px;
  background: rgba(0, 0, 0, .9);
  border-radius: 40px;
}
/* Edit Form */
.editForm{
  background-color: rgba(0, 0, 0, .8);
  height: 40px;
  width: auto;
  font-size: 20px;
  color: white;
  margin: 10px;
  text-align: center;
  outline: none;
  border: 3px solid orange;
}

.editFormText {
  background-color: rgba(0, 0, 0, .8);
  font-size: 20px;
  height: 100px;
  width: 200px;
  outline: none;
  resize: none;
  color: white;
  border: 3px solid orange;
}

/* Create Form */
.newForm {
  background-color: rgba(0, 0, 0, .8);
  height: 40px;
  width: auto;
  font-size: 20px;
  color: white;
  margin: 10px;
  text-align: center;
  outline: none;
  border: 3px solid orange;
}

.newFormText {
  background-color: rgba(0, 0, 0, .8);
  font-size: 20px;
  height: 100px;
  width: auto;
  outline: none;
  resize: none;
  color: white;
  border: 3px solid orange;
  text-align: center;
}

/* LOGOUT Page */

/* About Page */

.about{
  display:flex;
  flex-wrap: wrap;
  margin-top: 100px;
  background-image: url("images/register.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.aboutContainer {
  margin:auto;
  width: 800px;
  height: 715px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.aboutHead {
  color: orange;
}

.aboutInfo {
  background-color: rgba(0, 0, 0, .8);
  margin:auto;
  color: white;
  font-size: 20px;
  border-top: 3px solid white;
  border-bottom: 3px solid red;
  border-left: 3px solid white;
  border-right: 3px solid red;
  border-radius: 20px;
}
