<div class="allGameCard">
    <h1 class="pageHead">Top 20 Best Selling Games</h1>
      <ul ng-repeat="game in ctrl.games">
        <div ng-click="ctrl.showOneGame(game)" class="gameCard">
          <li>
            <h4>{{game.name}}</h4>
            <img src="{{game.image}}" alt="{{game.name}}">
            <h4>Rating: {{game.rating}}/10</h4>
          </li>
        </div>
      </ul>
    <!-- Show modal on click -->
    <div ng-if="ctrl.showModal === true" class="modalContainer">
      <div class="showModal">
        <h2>{{ctrl.game.name}}</h2>
        <img class="modalImage" src="{{ctrl.game.image}}"   alt="{{ctrl.game.name}}">
        <p class= "description">{{ctrl.game.description}}</p>
        <h3 class="price">Price: ${{ctrl.game.price}}</h3>
      </div>
      <button ng-click="ctrl.showOneGame()"> CLOSE</button>
      </div>
    </div>
