<div class="login">
  <div class="allUserGameCard">
    <h1 class="pageHead">My Games</h1>
      <ul ng-repeat="userGame in user.userGames">
        <div ng-click="user.showOneUserGame(userGame)" class="userGameCard">
          <li>
            <h4>{{userGame.name}}</h4>
            <img src="{{userGame.image}}" alt="{{userGame.name}}">
            <h4>Rating: {{userGame.rating}}/10</h4>
          </li>
        </div>
        <button class="ui violet button" ng-click="toggleshowEditForm(userGame); user.indexOfEditFormToShow = $index">Edit</button>
        <button class="ui red button" ng-click="user.deleteUserGame(userGame)">Delete</button>
      </ul>
    <!-- Show modal on click -->
    <div ng-if="user.showEditForm === true" class="modalUserContainer">
      <div class="showModal">
        <h2>{{user.userGame.name}}</h2>
        <img class="modalImage" src="{{user.userGame.image}}"   alt="{{user.userGame.name}}">
        <p class= "description">{{user.userGame.description}}</p>
        <h3 class="price">Price: ${{user.userGame.price}}</h3>
      </div>
      <button ng-click="user.showOneUserGame()"> CLOSE</button>
    </div>
  </div>
</div>
<!-- EDIT FORM -->
<div ng-if="user.showEditForm === true">
  <div class="modalUserContainer">
    <div class="showModal">
    <h2>Edit My Game</h2>
    <form ng-submit="user.editUserGame(user.userGame)" >
      <input ng-model="user.updatedName" type="text" placeholder="Name of Game" />
      <input ng-model="user.updatedImage" type="text" placeholder="Image URL"/>
      <input ng-model="user.updatedRating" type="number" placeholder="Rating"/>
      <textarea ng-model="user.updatedDescription" type="text" placeholder="Description of Game"></textarea>
      <input ng-model="user.updatedPrice" type="number" placeholder="Price"/>
    </form>
    </div>
  </div>
</div>
